################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Converter/bin/x86/Debug
/Converter/obj/x86/Debug
/DbAccess/bin/x86/Debug
/DbAccess/obj/x86/Debug
/.vs/SqlConverter/v14
